spring:
  application:
    name: demonstration

  datasource:
    url: jdbc:postgresql://localhost:5433/employee_sys
    username: postgres
    password: user

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
jwt:
  secret: c058f30f67ca4a471606dbf105bcb45c919f9eed87d363611b203c54f58dd503